* {
    box-sizing: border-box;
}

body{
    background-color: #FFFACE;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    width: 1920px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    background-color: #FFFACE;
}

.container {
    max-width: 1770px;
    margin-right: auto;
    margin-left: auto;
}


/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Raleway:700,800,400);
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

/* gg */
/* gg */

/* FORM */

.header-content{
    display: flex;
    flex-direction: column;
}

.dry{
    margin-left: 412px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-bottom: 20px solid #6fbb94;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1;
    opacity: 0.8;
}


.header-form{
    display: flex;
    justify-content: end;
}

/* .form-container{
    height: 350px;
} */

.form{
    height: auto;
    padding: 20px 30px;
    margin-right: -28px;
    background-color: #7BD3A9;
    opacity: 0.8;
    z-index: 2;
    margin-top: 0;
}

.form-content{

    width: 450px;
}

/* FORM END */


/* HEADER */


.search-box{
    width: 964px;
    height: 50px;
    padding-left: 50px;
    padding-right: 20px;
    background: #FFFDFD;
    background-image: url('/img/svg/search.svg');
    background-size: 27px;
    background-position:left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.hero-img{
    display: block;
    margin-right: 19px;
}

.logo-img{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 45px;
}

.header{
    width: 100%;
    height: 84px;
    background-color: #7ED3A7;
    margin-bottom: 20px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
/* .login-in{
    align-items: center;
    width: 204px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 18px;
} */
/* .user-circle{
    margin-right: 26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* HEADER_END */


.btn{
    background-color: #fff;
    padding-bottom: 21px;
    padding-top: 21px;
    padding-left: 25px;
    border: 2px solid #CBC2C2;
    display: flex;
    align-items: center;
    width: 321px;
    height: 65px;
    border-radius: 10px;
}


.btn:last-child{
    margin-bottom: 11px;
}

/* .btn:hover{
    background: rgba(123, 211, 169, 0.3);
    border: 2px solid #7BD3A9;
    cursor: pointer;
    
} */

.user-btn{
    margin-right: 26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}


.hero-container {
    display: flex;
    justify-content: space-between;
}

.maps-inline_1{
    font-size: 18px;
}

table{
    width: 1350px;
    height: 600px;
}
.one-one{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}
.namet{
    width:auto;
    height:auto;
    padding: 0;
    box-sizing:border-box;

}


th{
    width: 150px;
    border: 2px solid #C4C4C4;
}

._active-btn{
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    background: rgba(123, 211, 169, 0.3);
    border: 2px solid #7BD3A9;
    cursor: pointer;
}

._active-sos{
    margin-right: 60px;
}

.analytics-mar{
    margin-top: 44px;
}

._settings-mar{
    margin-top: 64px;
}

.line-hor{
    flex-direction: row;
    width: 3px;
    height: 834px;
    background: rgba(196, 196, 196, 0.41);
}

.work-area{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    width: 1329px;
    height: 834px;
    background: #fff;
    border-radius: 10px;
}

.logo-dc{
    width: 50%;
    height: 75%;
    margin: 100px auto 0px;
    display: block;
}


/* tasks */
.tasks-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-ver{
    display: block;
    width: 400px;
    height: 3px;
    background: rgba(123, 211, 169, 0.3);
}

.tasks-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 23px 0px;
    width: 400px;   
    height: 834px;

    
    background: #FFFFFF;
    border: 1px solid #C4C4C4;  
    border-radius: 10px;
}

.event-box__date{
    display: flex;
    justify-content: space-between;
}

.tasks-item h1{
    text-align: center;
    font-size: 25px;
}
.tasks-item p{
    text-align: center;
}

.event-box{
    margin-top: 10px;
    width: 350px;
    height: 168px;  
    background: #FAFAFA;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
}

.event-box h3{
    font-size: 16px;
}
.event-box h4{
    font-size: 20px;
}

._invis{
    background-color: rgba(123, 123, 131, 0);
}

._red{
    font-size: 16px;
    color: #FF0000;
}

._blue{
    font-size: 20px;
    color: #2310F4;
}

/* cart-project */

.title{
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
}
.info-left {
    padding: 0 10px;
    width: 483px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}
.direction {
}
.sct {
}
.info-right {
    padding: 0 10px;
    font-size: 15px;
    width: 684px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.work-area p{
    font-size: 25px;
}

.responsible{
    padding: 13px 23px;
    font-size: 20px;
    width: 320px;
    height: 108px;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.status-box{
    
    padding: 13px 23px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 67px;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
}

.status{
    padding: 5px     5px;
    width: 114px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status div{
    margin-left: 10px;
}

.iq-report{
    margin-top: 16px;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.iq{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 50px;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.report{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 50px;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo-video{
    margin-top: 16px;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.photo{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 50px;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.video{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 50px;
    border: 2px solid #CBC2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.tasks-projects{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 28px;
    width: 320px;
    height: 79px;
    background: #F7F7F7;
    border: 0.5px solid #444343;
    border-radius: 10px;
    margin-top: 223px;  
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-horz{
    flex-direction: row;
    width: 3px;
    height: 677px;
    background: rgba(196, 196, 196, 0.41);
}

.work-area{
    padding: 20px;
}

._gray{
    color: #505050;
}

._with-kroshka{
    height: 797px;
}